.padded-multiline { 
    line-height: 1.4; 
    width: auto;
}

.padded-multiline span { 
    color: gray; 
    font-size: 0.95em;
    text-align: justify;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-height: 1.15;        /* fallback */
    max-height: 3;       /* fallback */
}

.result-header {
    color: darkslategrey;
    font-size: 1.5em;
    margin-bottom: 5px;
}